:root {
  --kuromi-purple: #d2b4f2;
  --kuromi-dark-purple: #2c1c41;
  --kuromi-pink: #f7a8c7;
  --text-black: #333;
  --bg-image: url('./assets/alt-bg.png');

  font-family: 'Comic Sans MS', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  min-width: 320px;
  /* background-image: var(--bg-image); */
  background-color: #2c1c41;
  background-size: contain;
  background-repeat: repeat;
  color: var(--text-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  font-weight: 500;
  color: var(--kuromi-dark-purple);
  text-decoration: underline;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--kuromi-pink);
}

h1, h2, h3 {
  color: #000000;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.header, .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 2rem;
  gap: 8px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.top-instagram-link {
  /* padding: 10px; */
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #4a3b68;
  border: 4px solid #4a3b68;
  font-size: 52px;
  transition: all 0.2s ease;
  z-index: 10;
  line-height: 0;
  text-decoration: none;
  box-shadow: inset 0 -4px 0 rgba(0,0,0,0.2);
}

.top-instagram-link:hover {
  transform: scale(1.1);
  color: #f7a8c7;
  border-color: #f7a8c7;
}

.event-list {
  background-color: rgba(255, 255, 255, 0.5);
  border: 4px solid #000;
  border-radius: 32px;
  padding: 24px 0;
}

.event-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.bow {
  max-width: 150px;
}

.logo {
  width: 100%;
}

@media (min-width: 768px) {
  .logo {
    width: 50%;
  }
}
.event-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 32px;
}

.event-date-badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('./assets/date-blob-2.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  font-weight: bold;
  text-align: center;
}

.event-month {
  font-size: 12px;
  color: #000;
}

.event-day {
  font-size: 32px;
  color: #1a1a1a;
}

.event-details {
  flex: 1;
  border: 4px solid #000;
  background-color: #d2b4f2;
  border-radius: 24px;
  padding: 8px 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  text-align: left;
  box-shadow: inset 0 -4px 0 rgba(0,0,0,0.2);
}

.event-name {
  font-size: 20px;
  font-weight: bold;
}

.event-time {
  font-size: 16px;
  font-weight: 500;
}

.event-desc {
  font-size: 12px;
  margin-bottom: 6px;
  font-style: italic;
}

.location-button,
.calendar-button {
  display: block;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  border-radius: 32px;
  border: 2px solid #000;
  padding: 4px 0;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  box-shadow: inset 0 -2px 0 rgba(0,0,0,0.2);
}

.location-button:hover,
.calendar-button:hover {
  background-color: var(--kuromi-pink);
  color: #000;
}
